html { 
    font-size:100%; 
}

*{
    scroll-behavior: smooth;
}

img { 
    max-width: 100%; height: auto;

}
@media (min-width: 640px) { 
    body {font-size:1rem;} 
} 
@media (min-width:960px) { 
    body {font-size:1.2rem;} 
} 
@media (min-width:1100px) { 
    body {font-size:1.5rem;} 
} 

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
/* Jika ukuran layar 680px atau kurang dari itu */
@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

/* Jika ukuran layar 480px atau kurang */ 
@media screen and (max-width: 480px) { 
    #header{ 
        height: auto; 
    } 
    #sidebar{ 
        display: none;
    } 
}


body {
    position: relative;
}


ul.nav-pills {
    top: 10px;
    position: fixed;
}

div.col-8 div {
    height: 650px;

}

#img{
    border-radius: 50%;
    margin-left: 15px;
}

#nama{
    font-weight: bold;
    margin-left: 15px;
    font-size: 25px;
}
    
/*navbar section*/
#home{
    color: black;
    display: block;
}

#education{
    color: black;
}

#experience{
    color: black;
}

#skills{
    color: black;
}

#interest{
    color: black;
}

#contact{
    color: black;
}

#gallery {
    color: black;
}


/* greeting section */
#section1{
    font-weight: 300;
    text-align: left;
    background-color: #4682B4;
    padding-top: 250px;
    padding-left: 70px;
}

#hello{
    font-size: 100px;
    font-weight: bold;
}

/*education section*/
#section2{
    padding-left: 70px;
    padding-top: 50px;
}

#college{
    background-color:#FA8072;
    margin-top: 50px;
    margin left: 200px;
    margin-right: 90px;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    
}

#sma{
    background-color:#FF7F50;
    margin-top: 50px;
    margin left: 200px;
    margin-right: 90px;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 20px; 
}

#smp{
    background-color:#FA8072;
    margin-top: 50px;
    margin left: 200px;
    margin-right: 90px;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 20px; 
}

/*experience section */
#section3 {
    background-color: #4682B4;
    padding-left: 70px;
    padding-top: 50px;
}
/* title section */
#experiences{
    margin-top: 30px;
}
 /* what experience*/
#capt{
    font-weight: 700;
}
/* year of the experience */

#year{
    font-weight: 100;
}
 /* skill section */
#section4{
    padding-left: 70px;
    padding-top: 50px;
}

/* first line of skills */
#tabel1{
    margin-top: 80px;
    padding-left: 60px;
}


#skill1{
    height:3px;
}

#skill2{
    height: 3px;
}

/* second line of skills */
#tabel2{
    margin-top: 170px;
    padding-left: 60px;
}
#skill3{
    height:7px;
}

/* interest section */
#section5{
    background-color: #4682B4;
    padding-left: 70px;
    padding-top: 30px;
}

/* setting for image */
.interest_image{
    border-radius: 10%;
}


/* contact section */
#section6{
    padding-left: 70px;
    padding-top: 50px;
}
 /* setting table for contact */
#contact2{
    margin-top: 100px;
    text-align: center;
    margin-left: 10px;
}

/* copyright setting */
#copy {
    text-align: center;
    margin-top: 100px;
}



/*new page*/

#header{
    background-color: #4682B4;
}

#title{
    font-weight: 600;
    font-size: 100px;
}

/* odd line */
#first{
    margin-top: 30px;
    margin-left: 25px;
}

/*even line */
#second{
    margin-top: 30px;
    margin-left: 100px;
}






